%%% -*- mode: erlang -*-

%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

{deps, [
        {reloader, ".*", {git, "git://github.com/schnef/reloader.git", "master"}}
       ]
}.


{port_env, [ {"CFLAGS", "$CFLAGS -O3"},
	     {"LDFLAGS", "$LDFLAGS -lsodium"} ]}.
{port_specs, [ {"priv/port", ["c_src/port.c"]} ]}.



